body {
  @apply font-sans antialiased text-black m-0 h-full bg-white;
}

.text-indent {
  text-indent: 5%;
}

.will-change {
  will-change: transform;
}

.hyphens {
  word-wrap: break-word;
  overflow-wrap: break-word;

  text-align:justify;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}